<button class="btn-animated" (click)="toggleModal()">Pin Problem</button>
<div
  *ngIf="showModal"
  class="overflow-x-auto overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div
      class="border-0 rounded-e-3xl shadow-xl relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 class="text-3xl font-semibold">Point Out a Problem</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="toggleModal()"
        >
          <span
            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
          >
          </span>
        </button>
      </div>
      <form>
        <!--body-->
        <div class="relative p-6 flex gap-3 flex-col">
          <input
            class="input-light"
            name="comment"
            placeholder="Comment"
            type="text"
          />
        </div>
        <!--footer-->
        <div
          class="flex items-center justify-end gap-3 p-6 border-t border-solid border-slate-200 rounded-b"
        >
          <button class="btn-white" (click)="toggleModal()">Cancel</button>
          <button class="btn-dark">Pin it</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
