#findRouteButton {
    position: absolute;
    top: 30px;
    right: 50px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 500;
  }

/* #map{
    filter: grayscale(100%);
} */