<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="leaflet-routing-machine.js"></script>
<script src="lrm-graphhopper.js"></script>

<app-nav-bar></app-nav-bar>
<div
  id="map"
  style="height: 90%"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="onMapClick($event)"
>
<div class="">
  <button class="btn-dark" [disabled]="!startPoint || !endPoint" id="findRouteButton" (click)="findRoute()"> Find route </button>
</div>

</div>
