<div class="h-full flex items-center justify-center bg-black">
  <form
    class="bg-ligthGrey h-80 shadow-xl rounded px-8 pt-6 pb-8 mb-4 flex flex-col gap-4 justify-center items-center fixed opacity-80"
  >
    <input
      class="input-light"
      placeholder="Username"
      name="username"
      type="text"
    />
    <input
      class="input-light"
      placeholder="Password"
      name="password"
      type="password"
    />
    <button class="btn-dark self-center hover:bg-transparent duration-700">
      Login
    </button>
    <p class="text-red-800 text-sm transition-opacity">sta god</p>
    <a
      class="cursor-pointer underlined-label pt-5 hover:text-ligthBlack"
      routerLink="/sign-up"
      >Dont have an account? Sign up!</a
    >
  </form>
</div>
