<div class="h-full bg-gradient-to-b from-black to-darkGrey">
  <app-nav-bar></app-nav-bar>
  <div class="main-div">
    <h1 routerLink="/map" style="cursor: pointer;">Navigate the Gray Area</h1>
    <h5>Your city, your way</h5>
  </div>
  <div class="pt-56 pl-52 pr-16 justify-end">
    <p>
      Experience the city on your terms, whether you're a local looking to
      rediscover your surroundings or a traveler seeking authentic urban
      experiences. Gray Area is your trusted companion for city exploration,
      offering a fresh perspective on your city, your way.
    </p>
  </div>
</div>
